---
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import ServiceCard from "../components/ServiceCard.astro";
import PortfolioCard from "../components/PortfolioCard.astro";
import ClientCard from "../components/ClientCard.astro";
import Footer from "../components/Footer.astro";
import "@fortawesome/fontawesome-free/css/all.min.css";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Agence</title>
    <link rel="stylesheet" href="styles/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMJtrj0s5e+Rn5t/e35P0f7dxF+puhHIFl8wHRF"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-primary-500">
    <Header />
    <main class="text-center">
      <!--Section pour l'accueil -->
      <section class="bg-primary-500 text-white py-20 relative">
        <h1 class="text-xl lg:text-3xl p-1.5 font-bold mb-6">
          <span class="block mb-4"
            >Créer des produits numériques incroyables</span
          >
          <span>Pour votre entreprise</span>
        </h1>
        <p class="text-sm mb-20 p-3 lg:text-xs lg:mb-10">
          Nous sommes une agence numérique professionnelle depuis 2016. Nous
          proposons une variété <br> de services numériques pour résoudre les
          problèmes de votre entreprise.
        </p>
        <div class="flex justify-center">
          <Button text="Commencer" icon="fa-solid fa-arrow-right" />
        </div>
      </section>
      <div class="relative">
        <div
          class="absolute top-0 left-0 w-full h-full bg-primary-500"
          style="clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);"
        >
        </div>
        <img
          src="/img/accueil.jpeg"
          alt="Description de l'image"
          class="w-auto md:w-3/4 lg:w-4/5 mx-auto shadow-md relative z-10"
        />
      </div>
      <!--Section pour les faits et réalisations de l'entreprise -->
      <section class="bg-white py-16 mt-[-50%] pt-[52%]">
        <div
          class="flex flex-wrap justify-center mx-10  lg:space-x-48 text-gray-700"
        >
          <div class="text-center mb-8 space-x-5 md:w-1/2 lg:w-auto">
            <p class="text-xl lg:text-2xl font-bold">1.2K+</p>
            <p>Clients satisfaits</p>
          </div>
          <div class="text-center mb-8  space-x-5 md:w-1/2 lg:w-auto">
            <p class="text-xl lg:text-2xl font-bold">1.1+</p>
            <p>Clients dans le monde</p>
          </div>
          <div class="text-center mb-8  space-x-5 md:w-1/2 lg:w-auto">
            <p class="text-xl lg:text-2xl font-bold">6+</p>
            <p>Années d'expérience</p>
          </div>
          <div class="text-center mb-8  space-x-5 md:w-1/2 lg:w-auto">
            <p class="text-xl lg:text-2xl font-bold">12+</p>
            <p>Prix remportés</p>
          </div>
        </div>
      </section>
      <!--Section pour les services -->
      <section class="bg-gray-100 py-12 md:py-16 text-left px-8 md:px-16">
        <h2 class="mb-2 text-gray-700 text-sm">Nos Services</h2>
        <p class="text-xl font-bold mb-8">
          Nous fournissons ce dont vous avez besoin
        </p>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center"
        >
          <ServiceCard
            icon="fa-brands fa-figma"
            title="UI/UX Design"
            text="Nous rendons votre site plus convivial et efficace aux yeux des utilisateurs."
          />
          <ServiceCard
            icon="fa-solid fa-code"
            title="Développement Web"
            text="Vous voulez un site avec de nombreuses fonctionnalités ? Nous avons la réponse."
          />
          <ServiceCard
            icon="fa-solid fa-code"
            title="Rédaction de contenu"
            text="Nous fournissons du contenu intéressant pour attirer vos clients."
          />
          <ServiceCard
            icon="fa-solid fa-chart-line"
            title="Branding"
            text="Créez un branding visuel avec des résultats étonnants; relaxez-vous."
          />
          <ServiceCard
            icon="fa-solid fa-video"
            title="Montage Vidéo"
            text="Vous voulez un site avec de nombreuses fonctionnalités ? Nous avons la réponse."
          />
          <ServiceCard
            icon="fa-solid fa-pen-nib"
            title="Illustration"
            text="Créez de belles illustrations comme vous en avez besoin, et rendez-les intéressantes."
          />
        </div>
      </section>
      <!--Section pour le portfolio -->
      <section class="bg-white py-12 md:py-16 text-left px-8 md:px-16">
        <h2 class="mb-2 text-gray-700 text-sm">Notre Portfolio</h2>
        <p class="text-xl font-bold mb-8">Projets récents</p>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center"
        >
          <PortfolioCard
            imageSrc="/img/projet1.jpeg"
            title="Site Web de Mon Hôpital"
            text="Créez un site hospitalier avec des fonctionnalités de gestion des patients, médecins et logistique des médicaments."
          />
          <PortfolioCard
            imageSrc="/img/projet2.jpeg"
            title="Logo de Food & Beverages Corp"
            text="Créez un logo pour une entreprise de restauration, avec une attention particulière à l'esthétique."
          />
          <PortfolioCard
            imageSrc="/img/projet3.jpeg"
            title="Applications mobiles pour supermarché"
            text="Développez des applications mobiles pour supermarché avec des fonctionnalités d'achat, de paiement automatique et de marketplace."
          />
        </div>
      </section>
      <!--Section pour les avis des clients -->
      <section class="bg-white py-12 md:py-16 text-left px-8 md:px-16">
        <h2 class="mb-2 text-gray-700 text-sm">Avis des clients</h2>
        <p class="text-xl font-bold mb-8">
          Ce que nos clients satisfaits disent de nous
        </p>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center"
        >
          <ClientCard
            title="Site Web de Mon Hôpital"
            clientReview="Très agréable de travailler avec Bubble Bash, une équipe fiable et réactive."
            clientName="Katty Clock"
            fonction="CEO de Mon Hôpital"
            avatarSrc="/img/client1.png"
          />
          <ClientCard
            title="Logo de F&B Corp"
            clientReview="Vraiment le meilleur service que nous ayons jamais eu, hâte de travailler sur le prochain projet."
            clientName="John Robert"
            fonction="CEO de F&B Corp"
            avatarSrc="/img/client2.png"
          />
          <ClientCard
            title="Applications mobiles pour supermarché"
            clientReview="La meilleure équipe de développeurs, c'est un plaisir de travailler avec eux. Peut-être encore pour le prochain projet?"
            clientName="Jane Smith"
            fonction="CEO de Supermarket Mobile Apps"
            avatarSrc="/img/client3.png"
          />
        </div>
      </section>
      <section class="bg-primary-500 text-white py-16">
        <h2 class="text-xl lg:text-3xl font-bold mb-6">
          <span class="block mb-4">Avez-vous une idée de projet et</span>
          <span>voulez-vous la réaliser?</span>
        </h2>
        <p class="text-sm lg:text-xs mb-10">
          Contactez-nous pour discuter de votre projet, nous sommes toujours là
          pour vous.
        </p>
        <div class="flex justify-center">
          <Button text="Contactez-nous" icon="fa-solid fa-arrow-right" />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
