---
// src/components/Button.astro
---

<button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded flex items-center justify-center space-x-2">
    Get Started
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M6.293 15.293a1 1 0 011.414 0L13 9.414V10a1 1 0 11-2 0v-.586L7.707 14.293a1 1 0 01-1.414 0 1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414 1 1 0 01-1.414 0L13 8.414V9a3 3 0 11-2 0V8.414L7.707 11.7a1 1 0 01-1.414 0 1 1 0 010-1.414l4-4z" clip-rule="evenodd" />
    </svg>
  </button>
  