---
// src/components/ClientCard.astro
---

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
    <div class="px-6 py-4">
        <div class="text-center mt-4">
            <p class="text-gray-700 text-base">
                "Client Review Text Lorem ipsum dolor sit amet, consectetur adipiscing elit."
            </p>
        </div>
        <div class="flex items-center">
            <img src="/img/client-avatar.jpg" alt="Client Avatar" class="h-16 w-16 object-cover rounded-full">
            <p class="font-bold text-xl ml-4">Client Name</p>
        </div>

    </div>
</div>
