---
const { imageSrc, title, text } = Astro.props;
---

<div class="w-[360px] h-[353px] rounded-lg overflow-hidden bg-white">
    <img src={imageSrc} alt="Portfolio Image" class="w-full h-[180px] object-cover object-center">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{title}</div>
        <p class="text-gray-700 text-base">
            {text}
        </p>
    </div>
</div>
