---
// src/components/ServiceCard.astro
---

<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
    <img src="/img/projet1.jpeg" alt="Service Image" class="w-full h-40 object-cover object-center">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Service Title</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, velit sit amet suscipit egestas.
      </p>
    </div>
</div>
  